/** Fótur **/

.footer {
    display: grid;
    
    /* justify-items: center; */
  
    padding: var(--vertical-space);
    border-top: var(--border-large) solid var(--color-gold);
  
    background-color: var(--color-dark);
    color: var(--color-gold-light);
  
    text-align: center;
  }
  
  .footer ul {
    list-style: none;
  }

  @media (min-width: 499px){
    .foot-1 {
      grid-column-end: span 6;
    }
    .offset-1 {
      grid-column-start: 3;
    }  
    .foot-2 { 
      grid-column-end: span 6;
    }
    .offset-2 {
      grid-column-start: 3;
    }
  }
  
  
  @media (min-width: 500px){
    .foot-1 {
      grid-column-end: span 4;
    }
    .offset-1 {
      grid-column-start: 3;
    }  
    .foot-2 { 
      grid-column-end: span 4;
      margin-right: 50%;
    }
    .offset-2 {
      grid-column-start: 7;
    }
  }
  
  
  
  @media (min-width: 2000px){
    .foot-1 {
      grid-column-start: span 2;
    }
    .offset-1 {
      grid-column-start: 4;
    }  
    .foot-2 { 
      grid-column-end: span 2;
    }
    .offset-2 {
      grid-column-start: 8;
    }
  }